<html ng-app="Portfolio">
<head>
    <title>Portfolio</title>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Fauna+One|Questrial|Raleway:200,400" rel="stylesheet">
          
    <base href="/" />
</head>
<body>
    <div class="container-fluid">
     
        <div class="header">
            <div class="layer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-xs-offset-2 col-md-6 col-md-offset-1">
                        <div class="fadeDiv">
        <h1>Luke Miller</h1>
        <h2>Full Stack Developer</h2>
       @*<img class="headerPic" src="http://i.imgur.com/jT4gVKq.jpg" height="300" />*@
                        </div>
                      </div>
                    </div>
                 </div>
            </div>
            </div>


        
 =
          
        <div id="about">
       
            <div class="wrapper">
                <div class="container">
                   
                         
                            @*<div id="topSideBorder"></div>*@
                         

                            @*<div id="bottomSideBorder"></div>*@
                            
                      


                    <div class="row">
                       
                              
                                <div class="openingDiv">
                                    <div class="row">
                                        <div class="col-md-3 col-xs-1">
                                           
                                        </div>
                                       
                                        <div class="col-md-6 col-xs-10">
                                            <div id="topSideBorder"></div>
                                            <div id="topSideBorder2"></div>
                                    <p id="odp1">
                                       I have always had a passion for simple and modern design.</p>
            
                                       <p id="odp2">Ever since implementing that passion into code, I haven't looked back.</p>
                                            <div id="bottomSideBorder"></div>
                                   </div>
                                        <div class="col-md-3 col-xs-1">
                                           
                                        </div>
                                </div>
                           
                               
                                
                            </div>
                        </div>
                    

                    </div>
             
                </div>
            
                </div>



          
          
       
         
            
        <div class="midsecSplit">
        <div class="row">
            <div class="col-md-6">
                <div class="midSecLeft">
                    <div class="mainHeadersDiv">
                        <p class="mainHeader2"><span></span> Skillset <span></span></p>
                    </div>
                    <div class="col-md-6 col-xs-6">
                   
                    <p id="skillHeader1" class="skillHeaders">HTML & CSS</p>
                    <div class="progress">
                        <div class="progress-bar-1" role="progressbar" aria valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>                      
                    </div>

                    <p class="skillHeaders">JavaScript</p>
                    <div class="progress">
                        <div class="progress-bar-2" role="progressbar" aria valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <p class="skillHeaders">C#</p>
                    <div class="progress">
                        <div class="progress-bar-5" role="progressbar" aria valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <p class="skillHeaders">Photoshop</p>
                    <div class="progress">
                        <div class="progress-bar-6" role="progressbar" aria valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    </div>
                    
                    <div class="col-md-6 col-xs-6">
                        <ul class="skillsList">
                    
                            <li><p class="slFont">Expert in utilizing HTML, CSS, and Bootstrap to create clean and modern design layouts across all web browsers and devices.</p></li>
                            <li><p class="slFont">Proficient in JavaScript libraries like jQuery, AngularJS, and TypeScript.</p></li>
                            <li><p class="slFont">Growing capability with Photoshop to add unique UI design attributes.</p></li>
                            <li><p class="slFont">Working knowledge of C#, ASP.NET MVC, and LINQ.</p></li>
                        </ul>
                    </div>  
                     
                 
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="midSecRight">
                    <div class="mainHeadersDiv">
                        <p class="mainHeader2"><span></span> What I do <span></span></p>
                    </div>
<div class="col-md-8 col-md-offset-1 col-xs-8">
    <ul class="skillsList2">
            <li><p class="slFont">I bring two years of dedicated work on front-end devlopment and one year of back-end development.</p></li>
             <li><p class="slFont">My main love of development comes in the long hours of designing backtracking and recreating ideas and patterns until I am satified with the user experience</p></li>
            <li><p class="slFont">I love working with people who share the same passion for integrating modern and clean design into code, but I am also comfortable and efficient working on my own.</p></li>
    </ul>
        </div>


    </div>
                    </div>


                </div>
            </div>
       

        <div class="projects">
          
            <div class="wrapper">
             
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="mainHeadersDiv">
                        <p class="mainHeader3"><span></span> Projects <span></span></p>
                      
                    </div>
                </div>
            </div>
            <div class="row">
            <div class="col-md-6 col-xs-6">
            
            <p class="projectHeaders"><img class="bbIcon" src="http://i.imgur.com/JMev8ED.png" height="80" />BudgetBook</p>
            <ul class="projectsList">
                <li><p class="slFont">BudgetBook is simple platform allowing the user to keep track of their finances.</p></li>
                <li><p class="slFont">The user can manage their monthly payments as well as manage goals the user can save towards with their left over income.</p></li>
                <li><p class="slFont">Made with HTML, CSS, TypeScript, AngularJS, jQuery, C#, ASP.NET MVC, and LINQ.</p></li>
            </ul>
            </div>
          


                <div class="col-md-6 col-xs-6">
            <div class="sp-slideshow">

                <input id="button-1" type="radio" name="radio-set" class="sp-selector-1" checked="checked" />
                <label for="button-1" class="button-label-1"></label>

                <input id="button-2" type="radio" name="radio-set" class="sp-selector-2" />
                <label for="button-2" class="button-label-2"></label>

                <input id="button-3" type="radio" name="radio-set" class="sp-selector-3" />
                <label for="button-3" class="button-label-3"></label>



                <label for="button-1" class="sp-arrow sp-a1"></label>
                <label for="button-2" class="sp-arrow sp-a2"></label>
                <label for="button-3" class="sp-arrow sp-a3"></label>


                <div class="sp-content">
                    <div class="sp-parallax-bg"></div>
                    <ul class="sp-slider clearfix">
                        <li><img id="bbComp" src="http://i.imgur.com/Ure2VAx.png" alt="image03" /></li>
                        <li><img class="slidePhone" src="http://i.imgur.com/8VJbyj8.png" alt="image02" /></li>
                        <li><img class="slideComp" src="http://i.imgur.com/CxrKh7x.png" alt="image01" /></li>
                    </ul>
                </div><!-- sp-content -->

            </div><!-- sp-slideshow -->
        </div>
        </div>

                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <p class="projectHeaders2"><img class="lpIcon" src="http://i.imgur.com/3BBUysg.png?1" height="50" />Last Pour</p>
                        <ul class="projectsList">
                            <li><p class="slFont">BudgetBook is simple platform allowing the user to keep track of their finances.</p></li>
                            <li><p class="slFont">The user can manage their monthly payments as well as manage goals the user can save towards with their left over income.</p></li>
                            <li><p class="slFont">Made with HTML, CSS, TypeScript, AngularJS, jQuery, C#, ASP.NET MVC, and LINQ.</p></li>
                        </ul>
                        </div>

                    <div class="col-md-6 col-xs-6">

                    <div class="sp-slideshow">

                        <input id="button-4" type="radio" name="radio-set2" class="sp-selector-1" checked="checked" />
                        <label for="button-4" class="button-label-1"></label>

                        <input id="button-5" type="radio" name="radio-set2" class="sp-selector-2" />
                        <label for="button-5" class="button-label-2"></label>

                        @*<input id="button-6" type="radio" name="radio-set2" class="sp-selector-3" />
                        <label for="button-6" class="button-label-3"></label>*@



                        <label for="button-4" class="sp-arrow sp-a1"></label>
                        <label for="button-5" class="sp-arrow sp-a2"></label>
                        @*<label for="button-6" class="sp-arrow sp-a3"></label>*@


                        <div class="sp-content">
                            <div class="sp-parallax-bg"></div>
                            <ul class="sp-slider clearfix">
                                <li><img id="lpPhone" src="http://i.imgur.com/oSbNrOn.png?1" alt="image03" /></li>
                                <li><img class="slidePhone" src="http://i.imgur.com/vXCSh5E.png" alt="image02" /></li>
                                @*<li><img class="slideComp" src="http://i.imgur.com/CxrKh7x.png" alt="image01" /></li>*@
                            </ul>
                        </div><!-- sp-content -->

                    </div><!-- sp-slideshow -->
                        </div>
                    </div>
              
          
        </div>
            </div>

        <div class="contact">
            @*<form>
                <ul class="contactList">
                 <li><input class="contactField" placeholder="Name" /></li>
                 <li><input class="contactField" placeholder="Email" /></li>
                 <li><input class="contactField" placeholder="Phone" /></li>
                    <li><textarea class="message" placeholder="Message"></textarea></li>
                    <li><button type="submit">Send</button></li>
                </ul>
            </form>*@

            <asp:Panel ID="Panel1" runat="server" DefaultButton="btnSubmit">
                <p>
                    Please Fill the Following to Send Mail.
                </p>
                <p>
                    Your name:
                    <asp:RequiredFieldValidator ID="RequiredFieldValidator11" runat="server" ErrorMessage="*"
                                                ControlToValidate="YourName" ValidationGroup="save" /><br />
                    <asp:TextBox ID="YourName" runat="server" Width="250px" /><br />
                    Your email address:
                    <asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" ErrorMessage="*"
                                                ControlToValidate="YourEmail" ValidationGroup="save" /><br />
                    <asp:TextBox ID="YourEmail" runat="server" Width="250px" />
                    <asp:RegularExpressionValidator runat="server" ID="RegularExpressionValidator23"
                                                    SetFocusOnError="true" Text="Example: username@gmail.com" ControlToValidate="YourEmail"
                                                    ValidationExpression="\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*" Display="Dynamic"
                                                    ValidationGroup="save" /><br />
                    Subject:
                    <asp:RequiredFieldValidator ID="RequiredFieldValidator2" runat="server" ErrorMessage="*"
                                                ControlToValidate="YourSubject" ValidationGroup="save" /><br />
                    <asp:TextBox ID="YourSubject" runat="server" Width="400px" /><br />
                    Your Question:
                    <asp:RequiredFieldValidator ID="RequiredFieldValidator3" runat="server" ErrorMessage="*"
                                                ControlToValidate="Comments" ValidationGroup="save" /><br />
                    <asp:TextBox ID="Comments" runat="server"
                                 TextMode="MultiLine" Rows="10" Width="400px" />
                </p>
                <p>
                    <asp:Button ID="btnSubmit" runat="server" Text="Send"
                                OnClick="Button1_Click" ValidationGroup="save" />
                </p>
            </asp:Panel>
            <p>
                <asp:Label ID="DisplayMessage" runat="server" Visible="false" />
            </p>  
        </div>
        
       
        <ui-view></ui-view>
    </div>

    <!-- Library Files -->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
    <script src="~/ngApp/scripts/slideShow.js"></script>
    <script src="~/ngApp/scripts/animations.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-touch/angular-touch.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>

    <!-- App Files-->
    <script src="/ngapp/app.js"></script>
    <script src="/ngapp/controllers/controllers.js"></script>
    
    <script src="/ngapp/services/services.js"></script>


</body>
</html>
